body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Черный фон */
    color: white; /* Белый текст */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: #333333; /* Темный фон для контейнера */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Легкая тень */
}

h1 {
    margin-bottom: 20px;
}

#score, #timer {
    font-size: 20px;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: #555555; /* Темный фон для ячеек */
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.hole.mole {
    background-color: orange; /* Фон, когда появляется крот */
}

button:focus {
    outline: none;
}

#start-game {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFA500; /* Оранжевый фон */
    color: white;
    border: none;
    border-radius: 5px;
}

#start-game:hover {
    background-color: #ff7f00; /* Более темный оттенок оранжевого на ховер */
}
